---
import BaseLayout from "#/layouts/base-layout.astro";
---

<BaseLayout>
  <h1>Diary</h1>
</BaseLayout>

<style>
  h1 {
    font-size: 1.5rem;
    font-weight: var(--fw-medium);
    margin: 0;
  }
</style>
